:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

:host ::ng-deep .search-field .mdc-notched-outline__leading {
  border-radius: 9999px 0 0 9999px !important;
}

.search-container {
  display: flex;
  align-items: stretch;
  height: 56px;
}

.search-btn {
  background: #e31497;
  color: white;
  padding: 0 24px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 0 12px 12px 0;
}

.search-btn:hover {
  background-color: #ae028c;
}
