<div class="search-container">
  <input
    class="search-field"
    [(ngModel)]="query"
    [matAutocomplete]="auto"
    [formControl]="autoCompleteControl"
    placeholder="Search for a user..."
    (keydown.enter)="onSearch()"
  />

  <mat-autocomplete 
      #auto="matAutocomplete"
      (optionSelected)="onUserSelected($event.option.value)" >
    @for (user of autoCompleteData | async; track user.id) {
      <mat-option [value]="user">
        {{ user.firstName}} {{ user.lastName }} ({{ user.email }})
      </mat-option>
    }
  </mat-autocomplete>

  <button class="search-btn" (click)="onSearch()">
    Go!
  </button>
</div>
