:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-container {
  display: flex;
  align-items: stretch;
  height: 56px;
  border-radius: 9999px 0 0 9999px !important;
}

.search-field {
  border-radius: 9999px 0 0 9999px !important;
  width: 300px;
  padding: 25px;
}

.search-btn {
  background: #e31497;
  color: white;
  padding: 0 24px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 0 9999px 9999px 0;
}

.search-btn:hover {
  background-color: #ae028c;
}

.mat-mdc-option {
  padding: 0px 0px 0px 24px;
}

.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
  background: #e31497;
}



