.user-data-card {
  border: 1px solid white;
  border-radius: 24px !important;
  overflow: hidden;
  padding: 2;
  max-width: 350;
  box-shadow: 3;
  opacity: 0;
  animation: fadeIn 0.6s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.search-box .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #d21969;
}

.search-box .MuiOutlinedInput-root {
  border-radius: 24px;
}

.search-button.MuiButton-contained {
  background-color: #d21969;
}

.search-button.MuiButton-contained:hover {
  background-color: darkred;
}


