:host {
  display: block;
  width: auto;
}

:host(.animate) {
  animation: fadeInUp 300ms ease-out;
}

.user-data-card {
  background-color: inherit;
  color: inherit;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
}