:host {
  display: block;
  width: auto;
  opacity: 0;
}

:host(.animate) {
  animation: fadeInUp 500ms ease-out forwards;
}

.user-data-card {
  background-color: inherit;
  color: inherit;
  border: 1px solid #ddd;
  padding: .3rem .5rem .3rem 1rem;
  border-radius: 8px;
}